
@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using Microsoft.AspNet.Identity;
<style>
    table {
        border-collapse: collapse;
        width: 70%;
        margin: auto;
        
    }

    th, td {
        text-align: left;
        padding: 8px;
         
    }

    tr:nth-child(even) {
        background-color: black;
    }

    th {
        background-color: #2a9fd6;
        color: white;
    }
</style>
<h2>Thêm Thông Tin Cá Nhân</h2>
@using (Html.BeginForm("Them", "ThongTinCaNhan", FormMethod.Post, new { @style = "width : 70%; margin: auto;" }))
{
    <table border="0">
        <tr>
            <td style="color: black;">Mã Tài Khoản : </td>
            <td style="color: black; width:100%; float:left; " ><input  style="width:100%" type="text" name="MaTaiKhoan" value="@User.Identity.GetUserId()" readonly/></td>
        </tr>
        <tr>
            <td style="color: white">Tên Tài Khoản: </td>
            <td ><input type="text" style="width:100%" name="TenTaiKhoan" value="" required/> </td>
        </tr>
        <tr>
            <td style="color: black">Ngày Sinh : </td>
            <td><input type="date" min="1990-01-01" max="2020-01-01" style="width:100%"  name="NgaySinh" value="" required/> </td>
        </tr>
        <tr>
            <td style="color: white">Số Điện Thoại: </td>
            <td><input type="number" maxlength="12" style="width:100%"   name="SoDienThoai" value="" required/> </td>
        </tr>
        <tr>
            <td style="color: black">Địa Chỉ : </td>
            <td><input type="text" style="width:100%"   name="DiaChi" value="" required/> </td>
        </tr>
        <tr>
            <td style="color: white">Giới Tính: </td>
            <td><input type="text" style="width:100%"  name="GioiTinh" min="1" max="4" value="" required/> </td>
        </tr>
        <tr >
            <td colspan="2"><input type="submit" value="Lưu Lại"/></td>
        </tr>

    </table>
} 
